.monica{
    background-color: yellow;
    padding-bottom: 2000px;
}
.navbar a{
    float:right;
    width: 100px;
}
#image-1{
    float: right;
    position: relative;
    width: 700px;

    }
    .delicacies{
        background-color: skyblue;

    }
   div.delicacies{
       display: flex;
       justify-content: right;
   } 
   div.shine{
       background-color: yellow;
   }
   