*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.monica {
    height: 100vh;
    background: linear-gradient(100deg, transparent 50%, orange 50%);
}
.navbar ul li a {
    float:right;
    width: 300px;
    display: inline;
    margin-left: 2px;
    padding: 20px;
    margin: 0px 20px;
    list-style: none;
}

#image-1 {
    float: right;
    position: relative;
    width: 900px;

}

.delicacies {
    background-color: none;
    padding-bottom: 100px;
    flex-direction: row;
    display: flex;
    justify-content: right;
    padding-top: 100px;
    width: 100%;

}

.quality {
    justify-content: space-between; 
    margin: 10px;
}




      

.column {
    width: 33.3%;
    float: right;
}

.row {
    width: 33.3%;
    float: right;
}

.part1 .column {
     width: 100%;
     height :auto;
     padding-bottom: 100px;
}
.Double {
    width:50%;
    float: right;
    text-align: right;
}
    .one{
        width: auto;
        padding: 50px;
        border: solid brown;
        border-radius: 10px;
        
    }
    .two{width: auto;
        padding: 100px;
        border: solid brown;
        border-radius: 10px;

    }
    .pics{
        background-color: white;
        height: 800px;
        padding-bottom: 1000px;
    }
    .thee{
        font-size: x-large;
        padding-top: 300px;
        width: auto;
        text-align: left;
        margin-left: 200px;
    }
    .part2{
        padding-bottom: 60px;
    }
    .Decker{
        padding-bottom: 600px;
        background-color: paleturquoise;
    }
    .header{
        padding-bottom: 100px;
        margin-bottom: 200px;
    }
    .paragraph{
        padding-bottom: 20px;
        font-size: 50px;
    }

    .last{
        background-color: orange;
        padding-bottom: 400px;
        padding-top: 100px;
    }
    .last h2{
        font-weight: bold;
        font-size: xx-large;
    }
    .lasty{
        float: right;
        flex-direction: row;
        display: flex;
        width: auto;
    }

    #taste{
        float: right;
        position: relative;
        max-width: 100%;
        padding-right: 300px;
    }
    .paragraph{
        font-size: x-large;
        padding-top: 10px;
        text-align: left;
        width: auto;
        }
        .fas{
            color: black;
        }
        #menu{
            font-size: xx-large;
            font-weight: bold;
            width: auto;
            text-align: center;
        }
        .sources{
            float: right;
            padding-right: 300px;
        }
        #footer{
            background-color: powderblue;
        }
        .sitemap{
            display: flex block;
            text-align: center;
            padding: 0px;
            margin: 0px;
            font-size: x-large;


        }
        .subscribe{
            display: flex block;
            text-align: right;
            padding-bottom: 200px;
            padding-right: 100px;
        }
        .subscribe h3{
            font-size: xx-large;
            padding-bottom: 50px;
        }
        .subscribe p{
            font-size: x-large;
         
            padding-left: 50px;
            width: auto;
            padding: 50px;
            padding-right: 100px;

        }
        .last h2{
            font-size: xx-large;
            padding-left: 70px;
            padding-top: 100px;
        }


