.monica{
    background-color: yellow;
    padding-bottom: 2000px;
}
.navbar a{
    float:right;
    width: 100px;
}
#image-1{
    float: right;
    position: relative;
    width: 700px;

    }
    .delicacies{
        background-color: skyblue;
        padding-bottom: 100px;

    }
   div.delicacies{
       flex-direction: row;
   
       justify-content: right;
   } 

   